@charset "utf-8";
/* CSS Document */
div,
span,
li,
img,
input,
label,
a {
	behavior: url(PIE.htc);
}
body{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333333;
	background: #FFDBE1;
}
li,ul,img{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
input{
	outline:none;
}
.main{
	min-height: 600px;
	overflow: hidden;
	background: url(../image/head_bg.jpg) repeat-x top left;
}
a{
	color: #333333;
	text-decoration: none;
}
a:link {
	color: #333333;
	text-decoration: none;
}		/* 未访问的链接 */
a:visited {
	text-decoration: none;
}	/* 已访问的链接 */
a:hover {
	color: #4189c8;
	text-decoration: none;
}	/* 鼠标移动到链接上 */
a:active {
	color: #4189c8;
	text-decoration: none;
}	/* 选定的链接 */


/**地址**/
.address{
	margin: 0px 10px;
	width: 990px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #fa9597;
	margin-top: 20px;
	overflow: hidden;
}
.address img{
	width: 17px;
	height: 16px;
	margin-top: -4px;
	margin-left: 10px;
	margin-right: 5px;
}
.address a{
	height: 16px;
	margin: 2px;
}

.list_main{
	margin: 20px 10px;
	width: 990px;
	overflow: hidden;
}

/**list_con**/
.list_con{
	width: 700px;
	min-height: 400px;
	float: right;
}
.list_con_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #dcdcdc;
}
.list_con_title font{
	display: block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	border-bottom: 2px solid #0e5298;
}
.list_con_content ul{
	width: 100%;
	overflow: hidden;
	margin: 20px 0px;
}
.list_con_content ul li{
	width: 696px;
	height: 30px;
	line-height: 30px;
	margin: 0px 2px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #878787;
}
.list_con_content ul li a{
	color: #444;
}
.list_con_content ul li img{
	margin-top: -3px;
	margin-right: 5px;
}
.list_con_content ul li span{
	float: right;
	margin-top: -3px;
	margin-right: 5px;
	color: #444;
}
/**图片list**/
.list_pic_con{
	width: 700px;
	min-height: 400px;
	float: right;
}
.list_pic_con_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #dcdcdc;
}
.list_pic_con_title font{
	display: block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	border-bottom: 2px solid #0e5298;
}
.list_pic_con_content ul{
	width: 100%;
	overflow: hidden;
	margin: 20px 0px;
}
.list_pic_con_content ul li{
	width: 696px;
	height: 154px;
	border-bottom: 1px dashed #bbbbbb;
	margin-bottom: 30px;
}
.list_pic_con_content ul li a{
	color: #444;
}
.list_pic_con_content ul li img{
	height: 128px;
	padding: 2px;
	border: 1px solid #CCC;
	float: left;
}
.list_pic_con_content ul li .title{
	width: 495px;
	height: 30px;
	line-height: 30px;
	float: right;
	margin: 0px;
}
.list_pic_con_content ul li .title a{
	color: #015198;
	font-size: 16px;
	font-weight: 600;
}
.list_pic_con_content ul li .time{
	width: 495px;
	height: 30px;
	line-height: 30px;
	float: right;
	margin: 0px;
	color: #818181;
}
.list_pic_con_content ul li .con{
	width: 495px;
	height: 84px;
	line-height: 24px;
	float: right;
	margin: 0px;
}
.list_pic_con_content ul li .con a{
	color: #a80000;
}

.page ul{
	text-align: center;
}
.page .border_3{
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.page .border_4{
	border: 1px solid #dddddd;
}
.page .active{
	background-color: #e74c3c;
	color: #FFF;
}
.page .active a{
	color: #FFF;
}
.page .text{
	width: 26px;
	height: 26px;
	border: 1px solid #a9a9a9;
	text-align: center;
}
.page ul{
	overflow: hidden;
	*display: block;
}
.page ul li{
	height: 30px;
	line-height: 30px;
	width: auto;
	margin: auto;
	margin-bottom: 0px;
	margin-right: -4px;
	*margin-right: 0px;
	padding: 0px 11px;
	border-bottom: 0px dashed #878787;
	display: inline-block;
	*display:inline;
 	*zoom:1;
	vertical-align: middle;
	color: #777777;
}
.page ul li a{
	color: #777777;
}
.page ul li img{
	margin-top: -3px;
	margin-right: 5px;
}


.main_box{
	width: 1010px;
	margin: 0px auto;
	overflow: hidden;
}
.logo{
	width: 1010px;
	height: 190px;
	padding: 10px 20px 10px 50px;
}
.banner{
	width: 100%;
	height: 43px;
	background-color: #fa8597;
	padding: 11.5px 0px;
	*padding: 0px;
}
.banner ul{
	text-align: center;
	*margin-top: 11.5px;
	*display: block;
	*height: 20px;
	*padding-top: 2px;
}
.banner ul li{
	width: 90px;
	height: 14px;
	line-height: 14px;
	color: #FFF;
	display: inline-block;
	*display:inline;
 	*zoom:1;
	*height: 16px;
	*line-height: 16px;
}
.banner ul li a{
	color: #FFF;
}
.banner ul .right_border{
	border-right: 2px solid #FFF;
}

.banner ul .left_border{
	border-left: 2px solid #FFF;
}


.bottom{
	text-align: center;
	margin: 40px 0px;
}

.height_10{
	width: 100%;
	height: 10px;
}

.bottom_banner{
	width: 990px;
	margin: 0px auto;
	height: 43px;
	background-color: #fa8597;
	padding-top: 11.5px;
	*padding: 0px;
	*margin: 10px auto;
}
.bottom_banner ul{
	text-align: center;
	*margin-top: 11.5px;
	*display: block;
	*height: 20px;
	*padding-top: 2px;
}
.bottom_banner ul li{
	padding: 0px 8px;
	height: 14px;
	line-height: 14px;
	color: #FFF;
	display: inline-block;
	*display:inline;
 	*zoom:1;
	*height: 16px;
	*line-height: 16px;
}
.bottom_banner ul li a{
	color: #FFF;
}
.bottom_banner ul .right_border{
	border-right: 2px solid #FFF;
}
.hot{
	width: 260px;
	height: 500px;
	float: left;
}
.hot_title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	background-color: #0e5298;
	padding: 0px 10px;
}
.hot_content{
	width: 100%;
	overflow: hidden;
	border: 1px solid #dc7686;

}
.hot_content_box{
	width: 248px;
	margin: 5px;
}
.hot_content_box_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0px 20px;
	font-size: 16px;
	border-bottom: 1px solid #dfdfdf;
}
.hot_content_box_title img{
	margin-right: 14px;
}
.hot_content_box_content ul{
	color: #969696;
	overflow: hidden;
	margin: 10px 0px;
}
.hot_content_box_content ul li{
	margin: 8px 40px;
	list-style-type: disc;
}

.content{
	width: 100%;
	border: #fa8597 dashed 1px;
}

.content .title{
	text-align: center;

	font-size: 2em;	font-weight: bold;
}

.content hr{
	border: #919191 solid 1px;
	margin: 5px;

}

.content .info{
	margin: 8px;
	text-align: center;
}

.content .answer{
	text-indent: 2em;
	padding: 25px;
}