<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"></meta>
    <meta name="renderer" content="webkit"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>照片集</title>

    <link href="/lover/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
    <link href="/lover/css/base.css" rel="stylesheet" type="text/css"></link>
    <link href="/lover/css/normalize.css" rel="stylesheet" type="text/css"></link>
    <link href="/lover/css/gallery.css" rel="stylesheet" type="text/css"></link>


    <script type="text/javascript" src="/lover/js/jquery.js"></script>
    <script type="text/javascript" src="/lover/js/jq.snow.js"></script>
    <script type="text/javascript" src="/lover/js/pinterest_grid.js"></script>
</head>

<body>
<script>
    $(function () {
        $.fn.snow({
            minSize: 5,		//雪花的最小尺寸
            maxSize: 50, 	//雪花的最大尺寸
            newOn: 200		//雪花出现的频率 这个数值越小雪花越多
        });
    });
</script>
<div class="main">
    <div class="main_box">

        <div class="logo">
            <img src="/lover/image/head_logo_left.png" style="float:left; left: 20px; width: 200px"></img>
            <img src="/lover/image/head_logo.png" style="text-align:center; width: 500px"></img>
            <img src="/lover/image/head_logo_right.png" style="float:right; right: 20px; width: 200px"></img>
        </div>
        <div class="banner">
            <ul>
                <li th:each="item, iterator : ${menu}" th:if="${iterator.index} eq '0'">
                    <a th:href="${item.link}" th:text="${item.name}"></a>
                </li>
                <li th:each="item, iterator : ${menu}" th:unless="${iterator.index} eq '0'" class="left_border">
                    <a th:href="${item.link}" th:text="${item.name}"></a>
                </li>
            </ul>
        </div>

        <div class="address">
            <img src="/lover/image/address_ico.png"></img>
            <a href="index">首页</a>
            <a>：</a>
            <a href="#">照片集</a>
            <a>&gt;</a>
        </div>


        <div class="list_main">
            <div class="hot">
                <div class="hot_content">
                    <div class="hot_content_box">
                        <div class="hot_content_box_title">
                            <img src="/lover/image/hot_list_ico.png"></img>照片类别
                        </div>
                        <div class="hot_content_box_content">
                            <ul th:each="item : ${ptype}">
                                <li><a href="#" th:text="${item.name}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list_pic_con">
                <div class="list_pic_con_title">
                    <font>照片列表</font>
                </div>
                <div class="list_pic_con_content">
                    <section id="gallery-wrapper">
                        <article class="white-panel">
                            <img src="/lover/image/1.jpg" class="thumb"></img>
                            <h1><a href="#">Title 1</a></h1>
                            <p>Description 1</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/2.jpg" class="thumb"></img>
                            <h1><a href="#">Title 2</a></h1>
                            <p>Description 2</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/3.jpg" class="thumb"></img>
                            <h1><a href="#">Title 3</a></h1>
                            <p>Description 3</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/4.jpg" class="thumb"></img>
                            <h1><a href="#">Title 4</a></h1>
                            <p>Description 4</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/5.jpg" class="thumb"></img>
                            <h1><a href="#">Title 5</a></h1>
                            <p>Description 5</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/6.jpg" class="thumb"></img>
                            <h1><a href="#">Title 6</a></h1>
                            <p>Description 6</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/7.jpg" class="thumb"></img>
                            <h1><a href="#">Title 7</a></h1>
                            <p>Description 7</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/8.jpg" class="thumb"></img>
                            <h1><a href="#">Title 8</a></h1>
                            <p>Description 8</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/9.jpg" class="thumb"></img>
                            <h1><a href="#">Title 9</a></h1>
                            <p>Description 9</p>
                        </article>
                        <article class="white-panel">
                            <img src="/lover/image/10.jpg" class="thumb"></img>
                            <h1><a href="#">Title 10</a></h1>
                            <p>Description 10</p>
                        </article>
                    </section>
                    <div class="page">
                        <ul>
                            <li class="border_3">共195条</li>
                            <li class="border_3">共50页</li>
                            <li class="border_3"><a href="">首页</a></li>
                            <li class="border_3"><a href="">《</a></li>
                            <li class="border_3 active"><a href="">1</a></li>
                            <li class="border_3"><a href="">2</a></li>
                            <li class="border_3"><a href="">3</a></li>
                            <li class="border_3"><a href="">末页</a></li>
                            <li class="border_3"><a href="">》</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom_banner">
            <ul>
                <li th:each="item, iterator : ${menu}" th:if="${iterator.index} eq '0'"><a th:href="${item.link}"
                                                                                           th:text="${item.name}"></a>
                </li>
                <li th:each="item, iterator : ${menu}" th:unless="${iterator.index} eq '0'" class="left_border"><a
                        th:href="${item.link}" th:text="${item.name}"></a></li>
            </ul>
        </div>
        <div class="bottom">
            COPYRIGHT版权所有
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#gallery-wrapper").pinterest_grid({
            no_columns: 4,
            padding_x: 10,
            padding_y: 10,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });
    });
</script>
</body>

</html>