<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"></meta>
    <meta name="renderer" content="webkit"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>回忆录</title>

    <link rel="icon" href="/lover/image/favicon.ico" type="image/x-icon" />
    <link href="/lover/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
    <link href="/lover/css/base.css" rel="stylesheet" type="text/css"></link>

    <script type="text/javascript" src="/lover/js/jquery.js"></script>
    <script type="text/javascript" src="/lover/js/jq.snow.js"></script>
</head>

<body>
<script>
    $(function () {
        $.fn.snow({
            minSize: 5,		//雪花的最小尺寸
            maxSize: 50, 	//雪花的最大尺寸
            newOn: 200		//雪花出现的频率 这个数值越小雪花越多
        });
    });
</script>
<div class="main">
    <div class="main_box">

        <div class="logo">
            <img src="/lover/image/head_logo_left.png" style="float:left; left: 20px; width: 200px"></img>
            <img src="/lover/image/head_logo.png" style="text-align:center; width: 500px"></img>
            <img src="/lover/image/head_logo_right.png" style="float:right; right: 20px; width: 200px"></img>
        </div>
        <!-- logo 结束 -->

        <!-- banner 开始 -->
        <div class="banner">
            <ul>
                <li th:each="item, iterator : ${menu}" th:if="${iterator.index} eq '0'">
                    <a th:href="${item.link}" th:text="${item.name}"></a>
                </li>
                <li th:each="item, iterator : ${menu}" th:unless="${iterator.index} eq '0'" class="left_border" >
                    <a th:href="${item.link}" th:text="${item.name}"></a>
                </li>
            </ul>
        </div>

        <div class="address">
            <img src="/lover/image/address_ico.png"></img>
            <a th:href="@{'/v/host/index'}">首页</a>
            <a>：</a>
            <a href="#">回忆录</a>
            <a>&gt;</a>
        </div>
        <div class="list_main">
            <div class="hot">
                <div class="hot_content">
                    <div class="hot_content_box">
                        <div class="hot_content_box_title">
                            <img src="/lover/image/hot_list_ico.png"></img>回忆录类别
                        </div>
                        <div class="hot_content_box_content">
                            <ul>
                                <li><a th:href="@{/v/host/memoirs/0/0}">全部</a></li>

                                <li th:each ="item : ${mtype}">
                                    <a th:href="@{'/v/host/memoirs/' + ${item.mid} + '/0'}" th:text="${item.name}"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list_pic_con">
                <div class="list_pic_con_title">
                    <font>回忆录列表</font>
                </div>
                <div class="list_pic_con_content">
                    <ul>
                        <li th:each = "memory:${memories}">
                            <img src="/lover/image/hth.gif"></img>
                            <p class="title"><a href="content.html" th:text="${memory.title}"></a></p>
                            <p class="time">时间：<span th:text="${#dates.format(memory.ctime, 'yyyy-MM-dd')}"></span></p>
                            <p class="con">简介：<span th:text = "${memory.intro}"></span><a th:href="@{'/v/host/memories/' + ${memory.mid}}">【查看全文】</a></p>
                        </li>
                        <!--<li>-->
                            <!--<img src="/lover/image/hth.gif"></img>-->
                            <!--<p class="title"><a href="content.html">疼沛雨</a></p>-->
                            <!--<p class="time">时间：2018-10-24</p>-->
                            <!--<p class="con">简介<a href="content.html">【查看全文】</a></p>-->
                        <!--</li>-->
                    </ul>
                    <div class="page">
                        <ul>
                            <li class="border_3">共<span th:text="${mNum}"></span>条</li>
                            <li class="border_3">共<span th:text="${pageNum}"></span>页</li>
                            <li class="border_3"><a th:href="@{'/v/host/memoirs/' + ${type} + '/0'}">首页</a></li>
                            <div th:each = "i : ${pageList}" style="display: inline">
                                <li  th:if = "${page} != ${i}" class="border_3">
                                    <a th:href="@{'/v/host/memoirs/'+${type} + '/' + ${i}}" th:text = "${i}+1"></a>
                                </li>
                                <li th:if = "${page} == ${i}" class="border_3 active">
                                    <a th:href="@{'/v/host/memoirs/'+${type} + '/' + ${i}}" th:text = "${i}+1"></a>
                                </li>
                            </div>
                            <li class="border_4"><a th:href="@{'/v/host/memoirs/'+${type} + '/' + ${pageNum-1}}">末页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom_banner">
            <ul>
                <li th:each="item, iterator : ${menu}" th:if="${iterator.index} eq '0'">
                    <a th:href="${item.link}" th:text="${item.name}"></a>
                </li>
                <li th:each="item, iterator : ${menu}" th:unless="${iterator.index} eq '0'" class="left_border" >
                    <a th:href="${item.link}" th:text="${item.name}"></a>
                </li>
            </ul>
        </div>
        <div class="bottom">
            COPYRIGHT版权所有
        </div>
    </div>
</div>

</body>

</html>